@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #F2A01B; */
}
.container{
    position: relative;
    display: flex;
    width: 1280px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .cards{
    position: relative;
    width: 300px;
    height: 400px;
    background: linear-gradient(#1FFFF4, #1FFFF4 30%, #029991, #029991 30%);
    margin: 10px;
    overflow: hidden;
    border-radius: 20px;
}

.container .cards .imgBox{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transition: 0.5s;
z-index: 1000;
border-radius: 20px;
overflow: hidden;
transform-origin: top;
/* display: none; */
}

.container .cards:hover .imgBox{
transform: translateY(20px) scale(0.55);
}

.container .cards .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .cards .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    transform: translateY(100%);
    transition: 0.4s;
}

.container .cards:hover .content{
    transform: translateY(0);
}

.container .cards .content .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container .cards .content .details h2{
    color: azure;
    font-size: 1.5em;
    font-weight: 500;
}

.container .cards .content .details h2 span{
    font-size: 0.8em;
    font-weight: 400;
    color: #1FFFF4;
}

.social_icons{
    position: relative;
    display: flex;
    list-style: none;
    margin-top: 5px;
}

.social_icons li{
    margin: 5px;
}

.social_icons li a{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #08BFB9;
    border-radius: 50%;
    font-size: 1.5em;
    color: azure;
    text-decoration: none;
    transition: 0.5s;
}

.social_icons li a:hover{
    transform: rotate(360deg);
    
}